# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log

# Ignore virtual environment folders
.venv/
env/
venv/

# Ignore OS-specific junk
.DS_Store
Thumbs.db

# Ignore build artifacts
build/
dist/
*.egg-info/

# NOTE: Models are NOT ignored here, защото искаш да ги качиш!
